.PreloaderBlock__text {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: #8dc7d0;
  font-size: calc(var(--index) * 3 / var(--divider));
  font-weight: 700;
  margin-bottom: 0;
}