.footer__contact_social {
  margin-right: calc(var(--index) * 1.5 / var(--divider));
  transition: color .5s ease;
  color: white; 
}

.footer__contact_social:last-of-type {
  margin-right: calc(var(--index) * .5 / var(--divider));
}

.footer__contact_social:hover {
  color: #8a1d6a;
}