.TwoColumn__Characteristics-item {
  list-style-type: none;
  max-height: calc(var(--index) * 10);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: calc(var(--index) * 1);
  padding-bottom: calc(var(--index) * 1);
}