.section-Goods__item-subtitle {
  margin: 0;
  line-height: 1.15;
  font-size: calc(var(--index) * .75 / var(--divider));
  text-align: justify;
  font-weight: 400;
  color: black;
  margin-bottom: calc(var(--index) * .75 / var(--divider));
  transition: color .5s ease;
}