.section-Goods__item-about {
  text-decoration: none;
}

.section-Goods__item-about:hover .section-Goods__item-title {
  color: #8a1d6a;
}

.section-Goods__item-about:hover .section-Goods__item-subtitle {
  color: #8a1d6a;
}