.section-Goods__BlockItem {
  list-style-type: none;
  padding: calc(var(--index) * 1 / var(--divider)) calc(var(--index) * 1 / var(--divider));
}

.section-Goods__item-BlockImg:hover .section-Goods__item-img {
  transform: scale(1.2);
}