.section-Goods__item-not-discount {
  margin: 0;
  color: #878787;
  text-decoration-color: #878787;
  text-decoration: line-through;
  font-size: calc(var(--index) * .65 / var(--divider));
  font-weight: 600;
  margin-right: calc(var(--index) * .75 / var(--divider));
}