.section-Goods__item-btn {
  font-size: calc(var(--index) * .90 / var(--divider));
  font-weight: 500;
  color: white;
  border: none;
  border-radius:  calc(var(--index) * .90 / var(--divider));
  padding: calc(var(--index) * .5 / var(--divider)) 0;
  background-color: #389ead;
  transition: background-color .5s ease, color .5s ease;
}

.section-Goods__item-btn:hover {
  background-color: #8a1d6a;
  color: #a6bec9;
}

.section-Goods__item-btn:active {
  background-color: #8a1d6a;
  color: #a6bec9;
}